@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {margin: 0; padding: 0;}
li { list-style: none;}
a { display: block; text-decoration: none; color: #212121; font-family: 'Nanum Gothic', sans-serif;}
a:hover {
    text-decoration: none;
    color: #212121;
}
body { font-family: 'Nanum Gothic', sans-serif;}
/*src:local(※)-내 홈페이지에 접속한 사용자의 컴퓨터에 글꼴이 있으면 다운 받지 말아라*/
@font-face {
    font-family:flower;
    src:local(※);
    src:url(../font/flower.eot) format('eot');
    src:url(../font/flower.woff) format('woff');
    src:url(../font/flower.woff2) format('woff2');
    src:url(../font/flower.ttf) format('truetype');
}
@font-face {
    font-family:javatext;
    src:local(※);
    src:url(../font/javatext.eot) format('eot');
    src:url(../font/javatext.woff) format('woff');
    src:url(../font/javatext.woff2) format('woff2');
    src:url(../font/javatext.ttf) format('truetype');
}
@font-face {
    font-family:photo;
    src:local(※);
    src:url(../font/photo.eot) format('eot');
    src:url(../font/photo.woff) format('woff');
    src:url(../font/photo.woff2) format('woff2');
    src:url(../font/sonamo.ttf) format('truetype');
}
@font-face {
    font-family:sonamo;
    src:local(※);
    src:url(../font/sonamo.eot) format('eot');
    src:url(../font/sonamo.woff) format('woff');
    src:url(../font/sonamo.woff2) format('woff2');
    src:url(../font/sonamo.ttf) format('truetype');
}
img {width: 100%;}
.wrap {
    width: 100%;
}
header {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}
header.active {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}
header .logo {
    width: 10vw;
    margin: 1vw 2.3vw;
}
header nav {
    width: 35vw;
    margin-top: 2.8vw;
}
header nav ul { 
    display: flex;
    justify-content: space-between;}
header nav ul li a {
    font-size: 0.8vw;
    color: #fff;
    text-shadow: 1px 1px 1px #999;
}
header .top_menu {
    width: 9vw;
    margin: 1.9vw;
    margin-top: 2.8vw;
}
header .top_menu ul {
    display: flex;
    justify-content: space-between;
}
header .top_menu ul li a {
    font-size: 0.7vw;
    color: #fff;
    text-shadow: 1px 1px 1px #999;
}
header ul li a { position: relative;}
header ul li a:hover {
    color: #fff;
}
header a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: all 0.3s;
}
header ul li a:hover:after {
    width: 100%;
}
header .top_menu a:after {
    height: 1px;
}
header .mobile_btn {display: none;}
header .mobile_menu {display: none;}

section {
    position:relative;
    width: 100%;
    overflow: hidden;
}
.venue h1 {
    text-align: center;
    font-size: 2vw;
    margin-top: 3vw;
}
section > p {
    text-align: center;
    font-size: 0.8vw;
    margin-bottom: 3vw;
}
.main {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.main iframe {
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.main .main_txt {
    position: absolute;
    width: 50vw;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #212121;
}
.main .main_txt p {
    font-size: 1.3vw;
}
.main .main_txt h1 {
    font-size: 6vw;
    
    line-height: 7vw
}
.main .main_txt h3 {
    font-size: 1.3vw;
}
.venue {
    margin-top: 5vw;
}
.venue .swiper-container {
    width: 80%;
    margin: 0 auto;
}
.venue .swiper-slide {
    height: 30vw;
}
.venue .swiper-slide a {
    width: 100%;
    height: 100%;
}
.venue .swiper-slide a p {
    width: 100%;
    height: 100%;   
    color: #212121;
    text-shadow: 0 0 1vw #212121;
    text-align: center;
    font-size: 1.5vw;
    box-sizing: border-box;
    font-family: flower;
    left: 0;
    top: 0;
    position: absolute;
    padding: 13.5vw 0;
    display: none;
}
.venue .swiper-slide:hover p {
    display: block;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-shadow: 0 0 1vw #111;
}
.venue .s1_prev {
    width: 2.5vw;
    left: 11vw;
    top: 25vw;
    outline: none;
}
.venue .s1_next {
    width: 2.5vw;
    right: 11vw;
    top: 25vw;
    outline: none;
}
.garden h1 {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
    
}
.garden .left_area {
    background-image: url(../img/8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 1px 1px 1px #212121;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 2.5vw;
}
.garden .right_area {
    background-image: url(../img/.png);
    padding: 0;
    
}

.garden .right_area ul {
    display: flex;
    flex-flow: row wrap;
}
.garden .right_area ul li {
    width: 50%;
    height: 45vh;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.garden .right_area ul li p {
    color: #fff;
    text-shadow: 1px 1px 1px #212121;
    text-align: center;
    font-size: 1.2vw;
    padding-top: 9vw;
    font-family: flower;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-shadow: 0 0 1vw #111;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
}
.garden .right_area ul li:hover p{
    display: block;
    
}
.garden .right_area ul li:first-child {
    background-image: url(../img/c2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.garden .right_area ul li:nth-child(2) {
    background-image: url(../img/collection3.jpg);
    background-size: cover;
}
.garden .right_area ul li:nth-child(3) {
    background-image: url(../img/collection6.png);
    background-size: cover;
}
.garden .right_area ul li:last-child {
    background-image: url(../img/collection4.jpg);
    background-size: cover;
}
.banquet {
    width: 100%;
    margin: 0 auto;
}
.banquet .row {
    width: 80%;
    margin: 0 auto;
    padding:0;
}
.banquet .row .col-sm-6 {
    padding:0;
    display:flex;
    justify-content: space-around;
}
.banquet .row .col-sm-6 a {
    width:45%;
    display:inline-block;
    margin:0.5vw;
    padding:0;
    }
.banquet h1 {
    text-align: center;
    font-size: 2vw;
    padding: 3vw;
}   
.buffet {
    top: 7vw;
}
.buffet .s3_prev {
    width: 2.5vw;
    top: 25vw;
    outline: none;
}
.buffet .s3_next {
    width: 2.5vw;
    top: 25vw;
    outline: none;
}
.event {
    width: 90%;
    margin: 0 auto;
    top: 11vw;
}
.event .col-sm-6 {
    padding: 0;
}
.withus .row{
    width: 80%;
    margin: 0 auto;
}
.withus {
    height: 40vw;
}
.withus h1 {
    text-align: center;
    padding: 2.6vw;
    font-size: 2vw;
    padding-top: 3vw;
    margin-top: 5vw;
}
.map .row{
    width: 70%;
    margin: 0 auto;
    margin-top: 3vw;
    top: 20vw;
}
.map h1 {
    text-align: center;
    font-size: 2vw;
}
footer {
    width: 100%;
    padding-bottom: 5vw;
    background-color: mistyrose;
}
footer .footer_logo {
    width: 23vw;
    float: left;
    padding: 4vw;
}
footer .addr address {
    line-height: 1.8vw;
    padding-top: 6vw;
    padding-left: 30vw;
    font-family: flower;
    font-size: 1vw;
}
footer .addr p {
    padding-top: 1vw;
    font-size: 0.8vw;
    padding-left: 30vw;
    font-family: flower;
}
footer .footer_sns  {
    margin:5vw auto;
    float: right;
}
footer  .footer_sns ul {
    float: left;
    margin-right: 5vw;
}
footer .footer_sns ul li { 
    float: left;
    margin-right: 0.5vw;
}
footer .footer_sns img {
    float: left;    
    width: 2vw;
}






/*태블릿*/
@media screen and (max-width:960px){
    
}

/*모바일*/
@media screen and (max-width:480px){
    header {
        height: 60px;
    }
    header nav {
        display: none;
    }    
    header .top_menu {
        display: none;
    }
    header .logo {
        width: 30vw;
        margin-top: 3vw;
    }
    header .mobile_btn {
        display: block;
        width: 6vw;
        margin: 5vw;
        margin-top: 5.5vw;
    }
    header .mobile_menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        left: -100vw;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
    }
    header .mobile_menu .menu_in {
        background-color: #fff;
        width: 75vw;
        height: 100%;
        padding: 3vw;
        box-sizing: border-box;
        float: left;
    }
    header .mobile_menu button {
        float: left;
        width: 10vw;
        margin: 7vw 7.5vw;
    }
    header .mobile_menu .menu_in p {
        text-align: center;
        font-size: 3vw;
        margin: 3vw;
    }
    header .mobile_menu .menu_in p span {
        font-weight: bold;
    }
    header .mobile_menu .menu_in .member a {
        float: left;
        width: 50%;
        text-align: center;
        font-size: 2.5vw;
        border: 1px solid #ccc;
        padding: 1.5vw;
        box-sizing: border-box;
    }
    header .mobile_menu .menu_in .member {
        width: 100%;
        height: 8vw;
    }
    header .mobile_menu .menu_in .member a:active {
        background-color: #212121;
        color: #fff;
        border: 1px solid #212121;
    }
    header .mobile_menu .menu_in .icon {
        margin-top: 4vw;
    }
    header .mobile_menu .menu_in .icon ul {
        display: flex;
        justify-content: center;
    }
    header .mobile_menu .menu_in .icon ul li {
        width: 33.333333333333333333%;
        height: 30vw;
        box-sizing: border-box;
        padding: 5vw;
        text-align: center;
        border: 1px solid #ccc;
        border-right: none;
    }
    header .mobile_menu .menu_in .icon ul li:last-child {
        border-right: 1px solid #ccc;
    }
    header .mobile_menu .menu_in .icon ul li p {
        font-size: 3vw;
        margin: 3vw 0;
    }
    header .mobile_menu .menu_in .tab {
        width: 100%;
        margin-top: 5vw;
    }
    header .mobile_menu .menu_in .tab .title {
        display: flex;
        justify-content: space-between;
    }
    header .mobile_menu .menu_in .tab .title a {
        font-size: 2.5vw;
        font-weight: bold;
        width: 33.333333333333333333%;
        border: 1px solid #ddd;
        background-color: #efefef;
        text-align: center;
        padding: 2vw;
        box-sizing: border-box;
        color: #666;
    }
    header .mobile_menu .menu_in .tab .title a.active {
        background-color: #fff;
        border-bottom: none;
    }
    header .mobile_menu .menu_in .tab .content {
        position: relative;
        width: 100%;
    }
    header .mobile_menu .menu_in .tab .content div {
        width: 100%;
        position: absolute;
        background-color: #fff;
        box-sizing: border-box;
        padding: 5vw 0;
    }
    header .mobile_menu .menu_in .tab .content div a {
        width: 100%;
        font-size: 3vw;
        padding: 1.5vw;
        background-image:url(../img/right1.jpg);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 16px;
        float: right;
    }
    section > p {
        text-align: center;
        font-size: vw;
        margin-bottom: 3vw;
    }
    .main {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .main iframe {
        width: 100%;
        height:50vh;
        position: absolute;
        left: 50%; top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .main .main_txt {
        position: absolute;
        width: 50vw;
        left: 50%; top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #212121;
    }
    .main .main_txt p {
        font-size: 1.3vw;
    }
    .main .main_txt h1 {
        font-size: 6vw;

        line-height: 7vw
    }
    .main .main_txt h3 {
        font-size: 1.3vw;
    }
    .venue h1 {
        font-size: 8vw;
    }
    .venue p {
        font-size: 3vw;
    }
    .venue .swiper-container {
        width: 70%;
        height: 55vh;
        margin: 0 auto;
    }
    .venue .swiper-slide {
        height: 50vh;
    }
    
    .venue .s1_prev {
        width: 6vw;
        left: 6vw;
        top: 60vw;
        outline: none;
    }
    .venue .s1_next {
        width: 6vw;
        right: 6vw;
        top: 60vw;
        outline: none;
    }
    .venue .swiper-slide a p {
    width: 100%;
    height: 97%;   
    color: #212121;
    text-shadow: 0 0 1vw #212121;
    text-align: center;
    font-size: 5vw;
    box-sizing: border-box;
    font-family: flower;
    left: 0;
    top: 0;
    position: absolute;
    padding: 30vw 0;
    display: none;
}
.venue .swiper-slide:hover p {
    display: block;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-shadow: 0 0 1vw #111;
}
    .garden {
        height: 100%;
    }
    .garden h1 {
        text-align: center;
        font-size: 8vw;
        margin-bottom: 5vw;
    }
    .garden .left_area {
        background-image: url(../img/8.png);
        height: 47vh;
    }
    .garden .right_area {
        
    }
    .garden .right_area ul {
        display: flex;
        flex-flow: row wrap;
    }
    .garden .right_area ul li p {
    color: #fff;
    text-shadow: 1px 1px 1px #212121;
    text-align: center;
    font-size: 3.5vw;
    padding-top: 13vw;
    font-family: flower;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-shadow: 0 0 1vw #111;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
    }
    .garden .right_area ul li:first-child {
        background-image: url(../img/c2.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 40vw;
    }
    .garden .right_area ul li:nth-child(2) {
        background-image: url(../img/collection3.jpg);
        background-size: cover;
        height: 40vw;
    }
    .garden .right_area ul li:nth-child(3) {
        background-image: url(../img/collection6.png);
        background-size: cover;
        height: 40vw;
    }
    .garden .right_area ul li:last-child {
        background-image: url(../img/collection4.jpg);
        background-size: cover;
        height: 40vw;
    }
    .banquet {
        width: 100vw;
        margin: 0 auto;
        padding-top: 20vw;
    }
    .banquet .row {
        width: 100%;
        /*height: 100%;*/
        margin: 0 auto;
    }
    .banquet .row .col-sm-6 {
        
    }
    .banquet h1 {
        text-align: center;
        font-size: 8vw;
    }   
    .buffet {
        margin: 0 auto;
        
    }
    .buffet .swiper3 {
        height: 30vh;
        width: 100%;
    }
    .buffet .s3_prev {
        width: 5vw;
        top: 23vw;
        outline: none;
    }
    .buffet .s3_next {
        width: 5vw;
        top: 23vw;
        outline: none;
    }
    .event {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .event .col-sm-6 {
        padding: 0;
    }
    .withus .row{
        width: 100%;
        margin: 0 auto;
        padding: 10vw;
    }
    .withus .col-sm-4 {
        margin-top: 3vw;
    } 
    .withus {
        height: 100%;
    }
    .withus h1 {
        text-align: center;
        font-size: 5vw;
    }
    .map {
       margin-top: 1vw;
    }
    .map .row{
        width: 100%;
        margin-top: 1vw;
    }
    .map iframe {
        height:40vh;
    }
    .map h1 {
        text-align: center;
        font-size: 4vw;
        margin: 5vw;
        padding-top: 8vw
    }
    footer {
        width: 100%;
        padding-bottom: 5vw;
        background-color: mistyrose;
    }
    footer .footer_logo {
        width: 23vw;
        float: left;
        padding: 4vw;
    }
    footer .addr address {
        line-height: 5vw;
        padding-top: 5vw;
        padding-left: 23vw;
        font-family: flower;
        font-size: 3vw;
    }
    footer .addr p {
        padding-top: 1vw;
        font-size: 2.3vw;
        padding-left: 23vw;
        font-family: flower;
    }
    footer .footer_sns  {
        margin:6vw auto;
        float: right;
    }
    footer  .footer_sns ul {
        float: left;
        margin-right: 3vw;
    }
    footer .footer_sns ul li { 
        float: left;
        margin-right: 0.4vw;
    }
    footer .footer_sns img {
        float: left;    
        width: 4vw;
    }
}


















